{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block styles %}
<style>
  #chat {
    display:flex;
    justify-content: center;
    align-items: center;
  }
  body {
    height: 100vh;
  }
  .chat-width {
    width: 100%;
  }
  .text-decoration-none{
    text-decoration: none;
  }
  .card:hover {
    background-color: #f8f9fa;
  }
  .form-control:focus {
    outline: none;
    box-shadow: none; /* Optionally remove box-shadow as well */
    border-color: #ced4da;
  }
  .fs-7 {
    font-size: 0.875rem;
  }
  .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @media (min-width: 992px) {
    .chat-width {
      width: 50%;
    }
  }
</style>
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-light border-bottom" aria-label="Tenth navbar example">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Docs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Other</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main>
  <section id="chat">
    <div class="d-flex justify-content-center">
      <div class="position-fixed chat-width">
        <div class="card p-4 m-5">
          <h1 class="fs-3">Welcome to <span class="text-ai-2">BharatGPT</span></h1>
          <p class="text-secondary">
            India's answer to the LLM Revolution. 
            <br>
            It is built under the Gemini AI, released with the banner of Feynman Pi. Learn more here at the Docs.
          </p>
        </div>
      </div>
      <div class="position-fixed chat-width bottom-0">
        <div class="m-5 row">
          {% for cards_bold, cards_normal in zipped %}
          <div class="col-6 p-1">
            <a href="#" class="text-decoration-none">
              <div class="card p-3">
                <h1 class="fs-7">{{ cards_bold }}</h1>
                <p class="fs-7 m-0 truncate">{{ cards_normal }}</p>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
        
        <div class="m-5">
          <form>
              <div class="input-group w-auto">
                  <input
                    type="text"
                    class="form-control p-3"
                    placeholder="Send a message"
                    aria-label="Send a message"
                    aria-describedby="button-addon1"
                  />
                  <button class="btn bg-secondary" type="button" id="button-addon1">
                    <i class="fa-solid fa-circle-arrow-up fa-xl text-white"></i>
                  </button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
