{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block styles %}
<style>
  #chat {
    display:flex;
    justify-content: center;
    align-items: center;
  }
  body {
    height: 100vh;
  }
  .chat-width {
    width: 100%;
  }
  .text-decoration-none{
    text-decoration: none;
  }
  .card:hover {
    background-color: #f8f9fa;
  }
  .form-control:focus {
    outline: none;
    box-shadow: none; /* Optionally remove box-shadow as well */
    border-color: #ced4da;
  }
  .fs-7 {
    font-size: 0.875rem;
  }
  .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @media (min-width: 992px) {
    .chat-width {
      width: 50%;
    }
  }
</style>
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-light border-bottom" aria-label="Tenth navbar example">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Docs</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main>
  <section id="chat">
    {% include 'partials/message_block.html' %}
  </section>
</main>
{% endblock %}
